/* ================ LAYOUT AND DISPLAY SECTION =================== */
body {

    background-color: white;

    /* Display Attributes */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Aligning content to the full viewport height of webpage */


    /* Font Attributes */
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 1rem;
    font-weight: 700;

    /* Text Attribute */
    color: white;

}

/* ============ Div Section ==============*/

/* Master Div */
.master-column {

    /* Content spacing */
    padding: 40px;
    max-width: 10rem;
}

.sedans-content {
    background-color: hsl(31, 77%, 52%);


}

.SUV-content {
    background-color: hsl(184, 100%, 22%);


}

.luxury-content {
    background-color: hsl(179, 100%, 13%);


}

/* Content Styling Section */

/* Headers and Paragraghs Styling */
h2 {
    /* Capitalize Letters */
    text-transform: uppercase;

}

.content-text {

    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
    font-size: 0.75rem;

    color: rgba(255, 255, 255, 0.6);
    text-wrap: balance;
    line-height: 1.2rem;

    margin-bottom: 5rem;

}



/* Links Styling */
.sedans-link {
    background-color: white;

    /* Text Attributes */
    text-decoration: none;
    color: hsl(31, 77%, 52%);

    padding: 10px;

}

.suvs-link {
    background-color: white;

    /* Text Attributes */
    text-decoration: none;
    color: hsl(184, 100%, 22%);

    padding: 10px;

}

.luxury-link {
    background-color: white;

    /* Text Attributes */
    text-decoration: none;
    color: hsl(179, 100%, 13%);

    padding: 10px;

}



/* Using mediaquery for multiple displays */
/* Screen size for Mobile */
@media(max-width:50rem) {
    .collumn-preview {
        /* Collumns Display Setup */
        display: flex;
        flex-direction: column;

    }
}

/* Using mediaquery for multiple displays */
/* Screen size for Desktop */
@media(min-width:50rem) {
    .collumn-preview {
        /* Collumns Display Setup */
        display: flex;
        flex-direction: row;

    }
}