/* ================ LAYOUT AND DISPLAY SECTION =================== */
body {

    background-color: white;

    /* Display Attributes */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Aligning content to the full viewport height of webpage */


    /* Font Attributes */
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 1rem;
    font-weight: 700;

    /* Text Attribute */
    color: white;

}

/* ============ Div Section ==============*/

/* Master Div */
.master-column {

    /* Content spacing */
    padding: 2.875rem;
    max-width: 10rem;

}

.sedans-content {
    background-color: hsl(31, 77%, 52%);

}

.SUV-content {
    background-color: hsl(184, 100%, 22%);


}

.luxury-content {
    background-color: hsl(179, 100%, 13%);

}

/* Footer Attribution */
.attribution {
    color: #000;
    font-size: 0.68rem;
    text-align: center;
    text-wrap: balance;
}

/* ===================== Content Styling Section ===================== */

/* Headers and Paragraghs Styling */
h2 {
    /* Capitalize Letters */
    text-transform: uppercase;

}

.content-text {

    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
    font-size: 0.75rem;

    color: rgba(255, 255, 255, 0.6);
    text-wrap: wrap;
    line-height: 1.25rem;


    margin-bottom: 5rem;

}

/* Footer Text */
.attribution p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: normal;
}

/* =============== Links Styling Section ================ */

/* Links Text */
.learn-more-text a {
    background-color: white;

    /* Text Attributes */
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.75rem;

    padding: 0.75rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 20px;
}

/* Anchor Styling and Active states */
.sedans-link {
    color: hsl(31, 77%, 52%);

}

.suvs-link {
    color: hsl(184, 100%, 22%);

}

.luxury-link {
    color: hsl(179, 100%, 13%);

}

.attribution a {
    color: hsl(228, 45%, 44%);

}

.active-state:hover {
    color: white;
    background-color: transparent;
    border: white solid 2px;
}

/* ================== mediaquery Section ================ */

/* =========== Using mediaquery for multiple displays =============  */
/* Screen size for Mobile */
@media(max-width:50rem) {
    .collumn-preview {
        /* Collumns Display Setup */
        display: flex;
        flex-direction: column;
    }

    /* Adding radius for mobile column display */
    .sedans-content {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .luxury-content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

/* Screen size for Desktop */
@media(min-width:50rem) {
    .collumn-preview {
        /* Row Display Setup */
        display: flex;
        flex-direction: row;
    }

    /* Adding radius for desktop row display */
    .sedans-content {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .luxury-content {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}